/* Error: Undefined mixin.
 *    ,
 * 8  | /     @include nearly-laptop {
 * 9  | |       text-align: center;
 * 10 | \     }
 *    '
 *   scss\footer.scss 8:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 8  \2502  \250c      @include nearly-laptop {\a 9  \2502  \2502        text-align: center;\a 10 \2502  \2514      }\a    \2575 \a   scss\\footer.scss 8:5  root stylesheet";
}
