@font-face {
  font-family: "TT Hoves";
  src: url("../assets/fonts/TTHoves-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}
/* $max-width: 1700px; */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
figure,
hr,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* letter-spacing: 0.2em; */
  /* letter-spacing: 0.15000000000000002em; */
  color: #333333;
}

.wrapper {
  /* max-width: 90em; // 1440px */
  max-width: 106.25em;
  margin: 0 auto;
  padding: 0 8.4375em;
}

.page-header {
  height: 6.375em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 12.5em; */
  min-width: 15.625em;
  /* @include xl {
    margin: 0 auto;
  } */
}
@media screen and (max-width: 574px) {
  .page-header {
    padding: 0 1em;
  }
}
.page-header__logo-wrapper_logo {
  cursor: pointer;
}
.page-header__nav {
  display: flex;
  justify-content: space-between;
  flex: 0 1 48.125em;
  font-size: 0.75em;
  margin-right: 11.1666666667em;
  letter-spacing: 0.15em;
}
@media screen and (max-width: 1200px) {
  .page-header__nav {
    margin-right: 0;
  }
}
@media screen and (max-width: 992px) {
  .page-header__nav {
    justify-content: flex-end;
  }
}
.page-header__nav_elem {
  list-style: none;
}
.page-header__nav_elem_mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .page-header__nav_elem {
    display: none;
  }
  .page-header__nav_elem_mobile {
    display: block;
    font-size: 6em;
    text-decoration: none;
    border: none;
  }
}
.page-header__nav_link {
  text-decoration: none;
  color: #333333;
  padding: 0.3333333333em 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: border 0.5s;
}
.page-header__nav_link:hover {
  color: #868282;
}
.page-header__nav_link:focus {
  border-color: #333333;
}
.page-header__nav .mobile-link {
  border: none;
}

.page-main {
  /* padding: 0 135px; */
  /* max-width: $max-width; */
  /* margin: 0 auto; */
  min-width: 15.625em;
  /* &__main-tasks-header {
    @include nearly-laptop {
      text-align: center;
    }
  } */
  /* &__main-tasks-header {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #bdbdbd; */
  /* margin-bottom: 62px; */
  /*  } */
  /* &__contact-us-form {
    &_product {
      @include small-mobile {
        height: 60px;
        padding-bottom: 10px;
      }
    }
  } */
}
@media screen and (max-width: 1200px) {
  .page-main {
    padding: 0;
  }
}
@media screen and (max-width: 574px) {
  .page-main {
    padding: 0 1em;
  }
}
.page-main .headers {
  font-style: normal;
  font-weight: 300;
  font-size: 4em;
  line-height: 1em;
  color: #bdbdbd;
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main .headers {
    text-align: center;
  }
}
@media screen and (max-width: calc(574px + 26px)) {
  .page-main .headers {
    font-size: 3em;
  }
}
@media screen and (max-width: 280px) {
  .page-main .headers {
    font-size: 2em;
  }
}
.page-main .headers-white {
  font-style: normal;
  font-weight: bold;
  /* font-size: 64px; */
  font-size: 4em;
  line-height: 1em;
  color: #ffffff;
  margin-bottom: 14px;
}
@media screen and (max-width: 1200px) {
  .page-main .headers-white {
    font-size: 3em;
  }
}
@media screen and (max-width: 574px) {
  .page-main .headers-white {
    font-size: 1em;
  }
}
.page-main__project-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 135px; */
  margin-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .page-main__project-photo {
    flex-direction: column;
    /* align-items: flex-start; */
    margin-top: 5em;
  }
}
.page-main__project-group_text {
  font-size: 64px;
  line-height: 64px;
  font-style: normal;
  margin-bottom: 90px;
  /* min-width: 5.15625em; */
}
@media screen and (max-width: 1200px) {
  .page-main__project-group_text {
    text-align: center;
    margin-bottom: 0.78125em;
  }
}
@media screen and (max-width: 574px) {
  .page-main__project-group_text {
    font-size: 3em;
  }
}
.page-main__project-group_project-text {
  font-weight: 300;
  color: #bdbdbd;
}
.page-main__project-group_home-text {
  font-weight: bold;
  color: #333333;
}
.page-main__project-group_arrows {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}
@media screen and (max-width: 1200px) {
  .page-main__project-group_arrows {
    justify-content: center;
    margin-bottom: 3.125em;
  }
}
.page-main__project-group_arrows .arrow {
  width: 53px;
  height: 53px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}
.page-main__project-group_arrows .arrow:hover,
.page-main__project-group_arrows .arrow:focus {
  background: #f9f9f9;
}
.page-main__project-group_right-arrow {
  margin-left: 23px;
}
.page-main__project-group_line {
  width: 271px;
  /* width: 19%; */
  height: 1px;
  background-color: #f2f2f2;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .page-main__project-group_line {
    display: none;
  }
}
.page-main__project-group_date {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .page-main__project-group_date {
    justify-content: center;
    margin-bottom: 3.125em;
  }
}
.page-main__project-group_date .numbers {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #bdbdbd;
}
.page-main__project-group_delimiter {
  width: 44px;
  height: 2px;
  background-color: #e0e0e0;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 10);
  margin: 0 32px 0 26px;
}
.page-main__photo-group {
  position: relative;
  width: 770px;
  height: 829px;
  min-width: 15.5em;
  /* @include tablet {
    width: 78%; */
  /* height: auto; */
  /* min-width: 15.5em; */
  /* &_photo {
      width: 100%;
      height: 100%;
    } */
  /*  } */
  /* &_photo {
    width: 770px;
    height: 829px; 
  }*/
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__photo-group {
    width: 34.375em;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .page-main__photo-group {
    width: 78%;
  }
}
@media screen and (max-width: 280px) {
  .page-main__photo-group {
    width: 100%;
  }
}
.page-main__photo-group_photo {
  width: 100%;
  height: 100%;
}
.page-main__photo-group_btn {
  width: 222px;
  height: 71px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  position: absolute;
  /* width: 222px;
  height: 71px; */
  left: 0px;
  bottom: 0px;
  /* background: $white-color; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer; */
}
.page-main__photo-group_btn:hover {
  background: #f9f9f9;
}
.page-main__photo-group_btn-text {
  /* margin-right: 15px;
  font-family: "TT Hoves";
  font-style: normal; */
  /* font-weight: normal; */
  /* font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333; */
  margin-right: 15px;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333;
}
.page-main__about-container {
  /* width: 1170px; */
  /* min-width: 1700px; */
  height: 435px;
  background-color: #fbfbfb;
  margin: 0 auto 150px;
  display: flex;
  justify-content: space-between;
  padding: 1.875em 4.375em 0 6.25em;
  /* letter-spacing: 0.2em; */
  /* padding: 30px 70px 0 100px; */
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__about-container {
    flex-direction: column;
    padding: 0;
    height: auto;
  }
}
@media screen and (max-width: calc(574px + 26px)) {
  .page-main__about-container {
    flex-direction: column-reverse;
  }
}
.page-main__about-photoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  /* position: relative; */
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__about-photoes {
    justify-content: center;
    margin-right: 0;
  }
}
@media screen and (max-width: calc(574px + 26px)) {
  .page-main__about-photoes {
    flex-direction: column;
  }
}
@media screen and (max-width: calc(280px + 20px)) {
  .page-main__about-photoes {
    width: 100%;
  }
}
@media screen and (max-width: calc(280px + 20px)) {
  .page-main__about-photoes_first-container {
    width: 100%;
  }
}
.page-main__about-photoes_photo {
  display: block;
}
.page-main__about-photoes .photo-one {
  width: 270px;
  height: 265px;
  /* margin-bottom: 30px; */
  margin-top: 30px;
}
@media screen and (max-width: calc(280px + 20px)) {
  .page-main__about-photoes .photo-one {
    width: 100%;
    height: auto;
  }
}
.page-main__about-photoes .photo-two {
  width: 270px;
  height: 140px;
  /* padding-top: 30px; */
  margin-top: 30px;
}
@media screen and (max-width: calc(574px + 26px)) {
  .page-main__about-photoes .photo-two {
    margin-top: 0;
  }
}
@media screen and (max-width: calc(280px + 20px)) {
  .page-main__about-photoes .photo-two {
    width: 100%;
    height: auto;
  }
}
.page-main__about-photoes .photo-three {
  width: 270px;
  height: 345px;
  margin-left: 30px;
  /* position: absolute;
  right: 0; */
}
@media screen and (max-width: calc(574px + 26px)) {
  .page-main__about-photoes .photo-three {
    margin-left: 0;
  }
}
@media screen and (max-width: calc(280px + 20px)) {
  .page-main__about-photoes .photo-three {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__about-text {
    /* text-align: center; */
    padding: 0 1em;
  }
}
.page-main__about-text_header {
  /* font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #bdbdbd; */
  margin-bottom: 20px;
  /* @include tiny {
    font-size: 2em !important;
  } */
  /* @include large-mobile {
    font-size: 3em;
  } */
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__about-text_header {
    margin-top: 0.78125em;
  }
}
.page-main__about-text_main-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  /* font-size: 14px; */
  line-height: 25px;
  color: #000000;
  margin-bottom: 20px;
  /* width: 506px; */
  /* width: 400px; */
}
.page-main__about-text_btn {
  width: 222px;
  height: 71px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  transition: border 1s, border-color 0s;
  /* margin-bottom: 30px; */
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__about-text_btn {
    margin: 0 auto;
  }
}
@media screen and (max-width: calc(280px + 20px)) {
  .page-main__about-text_btn {
    width: 100%;
  }
}
.page-main__about-text_btn:hover {
  background: #f9f9f9;
  border: 8px solid #ffffff;
}
.page-main__about-text_btn-text {
  margin-right: 15px;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333;
}
.page-main__tasks-container {
  margin-bottom: 122px;
  /* border: 1px solid black; */
}
.page-main__tasks {
  display: flex;
  justify-content: space-between;
  /* &_number-one {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 900;
    font-size: 200px; */
  /* line-height: 200px; */
  /* line-height: 239px;
    display: flex;
    align-items: center;
    color: #f2f2f2;
  } */
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__tasks {
    flex-direction: column;
  }
}
.page-main__tasks_first-column {
  display: flex;
}
@media screen and (max-width: calc(574px - 154px)) {
  .page-main__tasks .columns {
    margin-top: 1.875em;
  }
}
.page-main__tasks .numbers {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  /* font-size: 200px;
  line-height: 239px; */
  font-size: 12.5em;
  line-height: 1.195em;
  display: flex;
  align-items: center;
  color: #f2f2f2;
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__tasks .numbers {
    /* display: block; */
    width: 0.605em;
  }
}
@media screen and (max-width: calc(574px - 154px)) {
  .page-main__tasks .numbers {
    /* font-size: 10.5em; */
    font-size: 7.5em;
  }
}
.page-main__tasks .texts {
  font-style: normal;
  font-weight: 400;
  /*  font-size: 22px; */
  /* line-height: 36px; */
  font-size: 1.375em;
  line-height: 1.6363636364em;
  color: #333333;
  /* margin: 45px 0 0 30px; */
  margin: 2.0454545455em 0 0 1.3636363636em;
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__tasks .texts {
    width: 100%;
    align-self: center;
    margin: 0 0 0 1.5em;
  }
}
@media screen and (max-width: calc(574px - 154px)) {
  .page-main__tasks .texts {
    /* font-size: 1.25em; */
    font-size: 1em;
    margin: 0 0 0 0.5em;
  }
}
.page-main__tasks_text-one {
  /* font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 45px 0 0 30px;*/
  width: 380px;
  /* width: 279px;
  height: 144px; */
  /* @include nearly-laptop {
  } */
}
.page-main__tasks_second-column {
  display: flex;
}
.page-main__tasks_text-two {
  width: 510px;
}
.page-main__projects-container {
  margin-bottom: 120px;
}
.page-main__projects-container .imgs-wrapper {
  height: 255px;
  /* min-width: 1170px; */
}
@media screen and (max-width: 1200px) {
  .page-main__projects-container .imgs-wrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
.page-main__projects-container .figures {
  position: relative;
}
@media screen and (max-width: 1200px) {
  .page-main__projects-container .figures {
    width: 70%;
    margin-bottom: 1.875em;
  }
}
.page-main__projects-container .projects-imgs {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  cursor: pointer;
}
.page-main__projects-container .hidden-wrappers {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 0;
  background-color: #333333;
  width: 100%;
  height: 100%;
  /* opacity: 0.8; */
  opacity: 0;
  transition: opacity 0.5s;
}
.page-main__projects-container .hidden-wrappers:hover {
  opacity: 0.8;
}
.page-main__projects-container .hidden-content-wrappers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-main__projects-container .hidden-btns {
  width: 222px;
  height: 71px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  width: 133px;
  height: 12px;
  background-color: transparent;
}
@media screen and (max-width: 574px) {
  .page-main__projects-container .hidden-btns {
    padding: 0;
    justify-content: flex-start;
  }
}
.page-main__projects-container .hidden-btns-text {
  margin-right: 15px;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333;
  font-family: "Gothic A1", sans-serif;
}
.page-main__projects-container .hidden-btns-text,
.page-main__projects-container .hidden-btns-arrow {
  color: #ffffff;
}
.page-main__projects-container .factory-header {
  font-size: 50px;
  /*  @include small-laptop {
    font-size: 3em;
  } */
}
.page-main__projects-container .big-house-header {
  font-size: 55px;
  /* @include small-laptop {
    font-size: 3em;
  } */
}
@media screen and (max-width: 1200px) {
  .page-main__projects-container .factory-header,
.page-main__projects-container .big-house-header {
    font-size: 3em;
  }
}
@media screen and (max-width: 574px) {
  .page-main__projects-container .factory-header,
.page-main__projects-container .big-house-header {
    font-size: 1em;
  }
}
.page-main__main-projects-header {
  margin-bottom: 60px;
}
.page-main__projects-first-row {
  display: flex;
  margin-bottom: 30px;
  /* justify-content: space-between; */
  /* min-width: 1170px; */
  /* @include small-laptop {
    flex-direction: column;
    align-items: center;
  } */
  /* &_centre-img,
  &_theatre-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  } */
  /* &_theatre-img { */
  /* padding-left: $imgs-indent; */
  /* margin-left: $imgs-indent; */
  /* } */
}
@media screen and (max-width: 1200px) {
  .page-main__projects-first-row {
    margin-bottom: 0;
  }
}
.page-main__projects-first-row_centre-img-wrapper, .page-main__projects-first-row_theatre-img-wrapper {
  flex-grow: 1;
  /* @include small-laptop {
    width: 70%;
  } */
}
.page-main__projects-first-row_theatre-img-wrapper {
  margin-left: 30px;
}
@media screen and (max-width: 1200px) {
  .page-main__projects-first-row_theatre-img-wrapper {
    margin-left: 0;
    /* margin-top: 1.875em; */
  }
}
.page-main__projects-second-row {
  display: flex;
  margin-bottom: 30px;
  /* &_factory-img,
  &_theatre-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  } */
  /* &_factory-img {
    padding-top: $imgs-indent;
    padding-right: $imgs-indent;
  } */
  /* &_big-house-img {
       padding: $imgs-indent, 0, 0, 0;
     }
  */
  /* &_roof-img-img {
    padding: $imgs-indent, $imgs-indent, 0, 0;
  } */
}
@media screen and (max-width: 1200px) {
  .page-main__projects-second-row {
    margin-bottom: 0;
  }
}
.page-main__projects-second-row_factory-img-wrapper, .page-main__projects-second-row_big-house-img-wrapper {
  margin-right: 30px;
}
@media screen and (max-width: 1200px) {
  .page-main__projects-second-row_factory-img-wrapper, .page-main__projects-second-row_big-house-img-wrapper {
    margin-right: 0;
  }
}
.page-main__projects-second-row_factory-img-wrapper {
  flex-grow: 1;
}
.page-main__projects-second-row_big-house-img-wrapper {
  flex-grow: 3;
}
.page-main__projects-second-row_roof-img-wrapper {
  flex-grow: 2;
}
.page-main__projects-third-row {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1200px) {
  .page-main__projects-third-row {
    justify-content: center;
  }
}
.page-main__projects-btn {
  width: 222px;
  height: 71px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: #333333;
  border: 2px solid transparent;
}
@media screen and (max-width: 1200px) {
  .page-main__projects-btn {
    width: 70%;
  }
}
.page-main__projects-btn_btn-text {
  margin-right: 15px;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333;
}
.page-main__projects-btn_btn-text, .page-main__projects-btn_btn-arrow {
  color: #ffffff;
  transition: color 0.5s;
}
.page-main__projects-btn:hover {
  background-color: #ffffff;
  border-color: #333333;
}
.page-main__projects-btn:hover .page-main__projects-btn_btn-text {
  color: #333333;
}
.page-main__projects-btn:hover .page-main__projects-btn_btn-arrow {
  color: #333333;
}
.page-main__contact-us-container {
  margin-bottom: 120px;
}
.page-main__contact-us-header {
  margin-bottom: 22px;
}
.page-main__contact-us-form-img-wrapper {
  display: flex;
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__contact-us-form-img-wrapper {
    flex-direction: column-reverse;
  }
}
.page-main__contact-us-form {
  display: flex;
  flex-direction: column;
  /* margin-right: 30px; */
  margin-right: 1.875em;
  width: 391px;
  /* &_product {
    @include small-mobile {
      height: 60px;
      padding-bottom: 10px;
    }
  } */
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__contact-us-form {
    margin-right: 0;
    width: auto;
  }
}
@media screen and (max-width: 1200px) {
  .page-main__contact-us-form {
    width: 70%;
    align-self: center;
  }
}
.page-main__contact-us-form_textarea {
  height: 147px;
  margin-bottom: 22px;
  padding-top: 14px;
  resize: none;
  /* padding-right: 24px; */
}
.page-main__contact-us-form_textarea::placeholder {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #8d8d8d;
  font-family: "TT Hoves";
}
.page-main__contact-us-form_label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #333333;
  margin-left: 40px;
  margin-bottom: 21px;
}
@media screen and (max-width: 574px) {
  .page-main__contact-us-form_label {
    margin-left: 0;
  }
}
.page-main__contact-us-form_btn {
  width: 222px;
  height: 71px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: #333333;
}
@media screen and (max-width: 1200px) {
  .page-main__contact-us-form_btn {
    width: 100%;
  }
}
.page-main__contact-us-form_btn-text {
  margin-right: 15px;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333;
}
.page-main__contact-us-form_btn-text, .page-main__contact-us-form_btn-arrow {
  color: #ffffff;
}
.page-main__contact-us-form input,
.page-main textarea {
  background: #f3f3f3;
  outline: none;
  border: none;
  padding-left: 21px;
}
.page-main__contact-us-form input {
  height: 46px;
  /* background: #f3f3f3;
  outline: none;
  border: none; */
  margin-bottom: 10px;
  /* padding-left: 21px; */
}
@media screen and (max-width: calc(574px - 154px)) {
  .page-main__contact-us-form input.page-main__contact-us-form_product {
    height: 60px;
    padding-bottom: 10px;
  }
}
.page-main__contact-us-form input::placeholder {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #8d8d8d;
  white-space: pre-wrap;
}
.page-main__contact-us-img-wrapper {
  height: 369px;
  flex-grow: 1;
  /* border: 1px solid black; */
  /* @include tablet {
    height: auto;
  } */
}
@media screen and (max-width: calc(1440px - 1px)) {
  .page-main__contact-us-img-wrapper {
    height: auto;
    margin-bottom: 1.875em;
  }
}
.page-main__contact-us-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.page-footer {
  background-color: #2c2c2c;
}
.page-footer .top-headers {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 25px;
}
.page-footer .top-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding: 58px 218px 60px 116px;
  /* max-width: $max-width; */
  margin: 0 auto;
}
.page-footer__info-wrapper_list {
  list-style: none;
}
.page-footer__info-wrapper_list-elem:not(:last-of-type) {
  margin-bottom: 16px;
}
.page-footer__info-wrapper_list-link {
  text-decoration: none;
}
.page-footer__contact-wrapper_address-wrapper, .page-footer__contact-wrapper_telephone-wrapper, .page-footer__contact-wrapper_email-wrapper {
  display: flex;
  align-items: flex-start;
}
.page-footer__contact-wrapper_address-wrapper {
  margin-bottom: 31px;
}
.page-footer__contact-wrapper_telephone-wrapper {
  margin-bottom: 33px;
}
.page-footer__contact-wrapper_address-text {
  /*  width: 314px; */
  margin-left: 19px;
  /* margin-bottom: 31px; */
}
.page-footer__contact-wrapper_telephone-text, .page-footer__contact-wrapper_email-text {
  margin-left: 14px;
}
.page-footer__contact-wrapper_email-text {
  line-height: 15px !important;
}
.page-footer__social-networks-wrapper_logos-link {
  text-decoration: none;
}
.page-footer__social-networks-wrapper_logos-link:not(:last-of-type) {
  margin-right: 40px;
}
.page-footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  /*     opacity: 0.1; */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  /* z-index: 1; */
}
.page-footer__bottom_text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: rgba(200, 200, 200, 0.5);
}

/*# sourceMappingURL=index.css.map */
