/* Error: Undefined mixin.
 *    ,
 * 11 | /   @include small-laptop {
 * 12 | |     padding: 0;
 * 13 | \   }
 *    '
 *   scss\main.scss 11:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 11 \2502  \250c    @include small-laptop {\a 12 \2502  \2502      padding: 0;\a 13 \2502  \2514    }\a    \2575 \a   scss\\main.scss 11:3  root stylesheet";
}
