@font-face {
  font-family: "TT Hoves";
  src: url("../assets/fonts/TTHoves-Regular.ttf");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}

$max-width: 1700px;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
figure,
hr,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333;
}
