@import "./base.scss";

.page-header {
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  margin: 0 auto;

  &__logo-wrapper {
    &_logo {
      margin-left: 135px;
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    margin-right: 269px;

    &_elem {
      list-style: none;
    }

    &_elem:not(:first-of-type) {
      margin-left: 60px;
    }

    &_link {
      text-decoration: none;
      color: #333333;
      padding: 4px 0;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      transition: border 0.5s;
    }

    &_link:hover {
      color: #868282;
    }

    &_link:focus {
      /* border-top: 1px solid #333333;
      border-bottom: 1px solid #333333; */
      border-color: #333333;
    }
  }
}
