$btn-hover-color: #f9f9f9;
$imgs-indent: 30px;
$white-color: #ffffff;

.page-main {
  /* padding: 0 135px; */
  /* max-width: $max-width; */
  /* margin: 0 auto; */
  min-width: 15.625em;

  @include small-laptop {
    padding: 0;
  }

  @include mobile {
    padding: 0 1em;
  }

  .headers {
    font-style: normal;
    font-weight: 300;
    font-size: 4em;
    line-height: 1em;
    color: #bdbdbd;

    @include large-mobile {
      font-size: 3em;
    }
  }

  .headers-white {
    font-style: normal;
    font-weight: bold;
    /* font-size: 64px; */
    font-size: 4em;
    line-height: 1em;
    color: $white-color;
    margin-bottom: 14px;
  }

  &__project-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 135px; */
    margin-bottom: 120px;

    @include small-laptop {
      flex-direction: column;
      /* align-items: flex-start; */
      margin-top: 5em;
    }
  }

  &__project-group {
    &_text {
      font-size: 64px;
      line-height: 64px;
      font-style: normal;
      margin-bottom: 90px;
      /* min-width: 5.15625em; */

      @include small-laptop {
        text-align: center;
        margin-bottom: 0.78125em;
      }

      @include mobile {
        font-size: 3em;
      }
    }

    &_project-text {
      font-weight: 300;
      color: #bdbdbd;
    }

    &_home-text {
      font-weight: bold;
      color: #333333;
    }

    &_arrows {
      display: flex;
      align-items: center;
      margin-bottom: 90px;

      @include small-laptop {
        justify-content: center;
        margin-bottom: 3.125em;
      }

      .arrow {
        width: 53px;
        height: 53px;
        background: $white-color;
        border: 1px solid #f2f2f2;
        cursor: pointer;
      }

      .arrow:hover,
      .arrow:focus {
        background: $btn-hover-color;
      }
    }

    &_right-arrow {
      margin-left: 23px;
    }

    &_line {
      width: 271px;
      /* width: 19%; */
      height: 1px;
      background-color: #f2f2f2;
      position: relative;

      @include small-laptop {
        display: none;
      }
    }

    &_date {
      display: flex;

      @include small-laptop {
        justify-content: center;
        margin-bottom: 3.125em;
      }

      .numbers {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: #bdbdbd;
      }
    }

    &_delimiter {
      width: 44px;
      height: 2px;
      background-color: #e0e0e0;
      transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 10);
      margin: 0 32px 0 26px;
    }
  }

  &__photo-group {
    position: relative;
    width: 770px;
    height: 829px;
    min-width: 15.5em;

    @include nearly-laptop {
      width: 34.375em;
      height: auto;
    }

    @include small-laptop {
      width: 78%;
    }

    /* @include tablet {
      width: 78%; */
    /* height: auto; */
    /* min-width: 15.5em; */

    /* &_photo {
        width: 100%;
        height: 100%;
      } */
    /*  } */

    @include tiny {
      width: 100%;
    }

    &_photo {
      width: 100%;
      height: 100%;
    }

    /* &_photo {
      width: 770px;
      height: 829px; 
    }*/

    &_btn {
      @include btn;
      position: absolute;
      /* width: 222px;
      height: 71px; */
      left: 0px;
      bottom: 0px;
      /* background: $white-color; */
      /* display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      cursor: pointer; */
    }

    &_btn:hover {
      background: $btn-hover-color;
    }

    &_btn-text {
      /* margin-right: 15px;
      font-family: "TT Hoves";
      font-style: normal; */
      /* font-weight: normal; */
      /* font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.2em;
      color: #333333; */
      @include btn-text;
    }
  }

  &__about-container {
    /* width: 1170px; */
    /* min-width: 1700px; */
    height: 435px;
    background-color: #fbfbfb;
    margin: 0 auto 150px;
    display: flex;
    justify-content: space-between;
    padding: 1.875em 4.375em 0 6.25em;
    /* letter-spacing: 0.2em; */
    /* padding: 30px 70px 0 100px; */

    @include nearly-laptop {
      flex-direction: column;
      padding: 0;
      height: auto;
    }

    @include large-mobile {
      flex-direction: column-reverse;
    }
  }

  &__about-photoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    /* position: relative; */

    @include nearly-laptop {
      justify-content: center;
      margin-right: 0;
    }

    @include large-mobile {
      flex-direction: column;
    }

    @include large-tiny {
      width: 100%;
    }

    &_first-container {
      @include large-tiny {
        width: 100%;
      }
    }

    &_photo {
      display: block;
    }

    .photo-one {
      width: 270px;
      height: 265px;
      /* margin-bottom: 30px; */
      margin-top: 30px;

      @include large-tiny {
        width: 100%;
        height: auto;
      }
    }

    .photo-two {
      width: 270px;
      height: 140px;
      /* padding-top: 30px; */
      margin-top: 30px;

      @include large-mobile {
        margin-top: 0;
      }

      @include large-tiny {
        width: 100%;
        height: auto;
      }
    }

    .photo-three {
      width: 270px;
      height: 345px;
      margin-left: 30px;
      /* position: absolute;
      right: 0; */

      @include large-mobile {
        margin-left: 0;
      }

      @include large-tiny {
        width: 100%;
        height: auto;
      }
    }
  }

  &__about-text {
    @include nearly-laptop {
      text-align: center;
      padding: 0 1em;
    }

    &_header {
      /* font-style: normal;
      font-weight: 300;
      font-size: 64px;
      line-height: 64px;
      color: #bdbdbd; */
      margin-bottom: 20px;

      @include nearly-laptop {
        margin-top: 0.78125em;
      }

      @include tiny {
        font-size: 2em !important;
      }

      /* @include large-mobile {
        font-size: 3em;
      } */
    }

    &_main-text {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      /* font-size: 14px; */
      line-height: 25px;
      color: #000000;
      margin-bottom: 20px;
      /* width: 506px; */
      /* width: 400px; */
    }

    &_btn {
      @include btn;
      transition: border 1s, border-color 0s;
      /* margin-bottom: 30px; */

      @include nearly-laptop {
        margin: 0 auto;
      }

      @include large-tiny {
        width: 100%;
      }
    }

    &_btn:hover {
      background: $btn-hover-color;
      border: 8px solid $white-color;
    }

    &_btn-text {
      @include btn-text;
    }
  }

  &__tasks-container {
    margin-bottom: 122px;
  }

  /* &__main-tasks-header {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #bdbdbd; */
  /* margin-bottom: 62px; */
  /*  } */

  &__tasks {
    display: flex;
    justify-content: space-between;

    &_first-column {
      display: flex;
    }

    .numbers {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 900;
      font-size: 200px;
      line-height: 239px;
      display: flex;
      align-items: center;
      color: #f2f2f2;
    }

    .texts {
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 36px;
      color: #333333;
      margin: 45px 0 0 30px;
    }

    /* &_number-one {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 900;
      font-size: 200px; */
    /* line-height: 200px; */
    /* line-height: 239px;
      display: flex;
      align-items: center;
      color: #f2f2f2;
    } */

    &_text-one {
      /* font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 36px;
      color: #333333;
      margin: 45px 0 0 30px;*/
      width: 380px;
      /* width: 279px;
      height: 144px; */
    }

    &_second-column {
      display: flex;
    }

    &_text-two {
      width: 510px;
    }
  }

  &__projects-container {
    margin-bottom: 120px;

    .imgs-wrapper {
      height: 255px;
      min-width: 1170px;
    }

    .figures {
      position: relative;
    }

    .projects-imgs {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
      cursor: pointer;
    }

    .hidden-wrappers {
      position: absolute;
      /* top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
      top: 0;
      background-color: #333333;
      width: 100%;
      height: 100%;
      /* opacity: 0.8; */
      opacity: 0;
      transition: opacity 0.5s;
    }

    .hidden-wrappers:hover {
      opacity: 0.8;
    }

    .hidden-content-wrappers {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .hidden-btns {
      @include btn;
      width: 133px;
      height: 12px;
      background-color: transparent;
    }

    .hidden-btns-text {
      @include btn-text;
      font-family: "Gothic A1", sans-serif;
    }

    .hidden-btns-text,
    .hidden-btns-arrow {
      color: $white-color;
    }

    .factory-header {
      font-size: 50px;
    }

    .big-house-header {
      font-size: 55px;
    }
  }

  &__main-projects-header {
    margin-bottom: 60px;
  }

  &__projects-first-row {
    display: flex;
    margin-bottom: $imgs-indent;
    /* justify-content: space-between; */
    /* min-width: 1170px; */

    &_centre-img-wrapper,
    &_theatre-img-wrapper {
      flex-grow: 1;
    }

    &_theatre-img-wrapper {
      margin-left: $imgs-indent;
    }

    /* &_centre-img,
    &_theatre-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
    } */

    /* &_theatre-img { */
    /* padding-left: $imgs-indent; */
    /* margin-left: $imgs-indent; */
    /* } */
  }

  &__projects-second-row {
    display: flex;
    margin-bottom: $imgs-indent;

    &_factory-img-wrapper,
    &_big-house-img-wrapper {
      margin-right: $imgs-indent;
    }

    &_factory-img-wrapper {
      flex-grow: 1;
    }

    &_big-house-img-wrapper {
      flex-grow: 3;
    }

    &_roof-img-wrapper {
      flex-grow: 2;
    }

    /* &_factory-img,
    &_theatre-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
    } */

    /* &_factory-img {
      padding-top: $imgs-indent;
      padding-right: $imgs-indent;
    } */

    /* &_big-house-img {
      padding: $imgs-indent, 0, 0, 0;
    }
 */
    /* &_roof-img-img {
      padding: $imgs-indent, $imgs-indent, 0, 0;
    } */
  }

  &__projects-third-row {
    display: flex;
    justify-content: flex-end;
  }

  &__projects-btn {
    @include btn;
    background-color: #333333;
    border: 2px solid transparent;

    &_btn-text {
      @include btn-text;
    }

    &_btn-text,
    &_btn-arrow {
      color: $white-color;
      transition: color 0.5s;
    }
  }

  &__projects-btn:hover {
    background-color: $white-color;
    border-color: #333333;
  }

  &__projects-btn:hover .page-main__projects-btn_btn-text {
    color: #333333;
  }

  &__projects-btn:hover .page-main__projects-btn_btn-arrow {
    color: #333333;
  }

  &__contact-us-container {
    margin-bottom: 120px;
  }

  &__contact-us-header {
    margin-bottom: 22px;
  }

  &__contact-us-form-img-wrapper {
    display: flex;
  }

  &__contact-us-form {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 391px;

    &_textarea {
      height: 147px;
      margin-bottom: 22px;
      padding-top: 14px;
      resize: none;
      /* padding-right: 24px; */
    }

    &_textarea::placeholder {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.04em;
      color: #8d8d8d;
      font-family: "TT Hoves";
    }

    &_label {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: #333333;
      margin-left: 40px;
      margin-bottom: 21px;
    }

    &_btn {
      @include btn;
      background-color: #333333;
    }

    &_btn-text {
      @include btn-text;
    }

    &_btn-text,
    &_btn-arrow {
      color: $white-color;
    }
  }

  &__contact-us-form input,
  textarea {
    background: #f3f3f3;
    outline: none;
    border: none;
    padding-left: 21px;
  }

  &__contact-us-form input {
    height: 46px;
    /* background: #f3f3f3;
    outline: none;
    border: none; */
    margin-bottom: 10px;
    /* padding-left: 21px; */
  }

  &__contact-us-form input::placeholder {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #8d8d8d;
  }

  &__contact-us-img-wrapper {
    height: 369px;
    flex-grow: 1;
  }

  &__contact-us-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
}
