@mixin btn {
  width: 222px;
  height: 71px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

@mixin btn-text {
  margin-right: 15px;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #333333;
}
