$screen-lg: 1440px;
$screen-slg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 574px;
$screen-t: 280px;

@mixin laptop {
  @media screen and (max-width: $screen-lg) {
    @content;
  }
}

@mixin nearly-laptop {
  @media screen and (max-width: calc(#{$screen-lg} - 1px)) {
    @content;
  }
}

@mixin small-laptop {
  @media screen and (max-width: $screen-slg) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $screen-md) {
    @content;
  }
}

@mixin phablet {
  @media screen and (max-width: $screen-sm) {
    @content;
  }
}

@mixin large-mobile {
  @media screen and (max-width: calc(#{$screen-xs} + 26px)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $screen-xs) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: calc(#{$screen-xs} - 154px)) {
    @content;
  }
}

@mixin large-tiny {
  @media screen and (max-width: calc(#{$screen-t} + 20px)) {
    @content;
  }
}

@mixin tiny {
  @media screen and (max-width: $screen-t) {
    @content;
  }
}
