$btn-hover-color: #f9f9f9;
$imgs-indent: 30px;
$white-color: #ffffff;

.page-main {
  min-width: 15.625em;

  @include small-laptop {
    padding: 0;
  }

  @include mobile {
    padding: 0 1em;
  }

  .headers {
    font-style: normal;
    font-weight: 300;
    font-size: 4em;
    line-height: 1em;
    color: #bdbdbd;

    @include nearly-laptop {
      text-align: center;
    }

    @include large-mobile {
      font-size: 3em;
    }

    @include tiny {
      font-size: 2em;
    }
  }

  .headers-white {
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    line-height: 1em;
    color: $white-color;
    margin-bottom: 14px;

    @include small-laptop {
      font-size: 3em;
    }

    @include mobile {
      font-size: 1em;
    }
  }

  &__project-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;

    @include small-laptop {
      flex-direction: column;
      margin-top: 5em;
    }
  }

  &__project-group {
    &_text {
      font-size: 64px;
      line-height: 64px;
      font-style: normal;
      margin-bottom: 90px;

      @include small-laptop {
        text-align: center;
        margin-bottom: 0.78125em;
      }

      @include mobile {
        font-size: 3em;
      }
    }

    &_project-text {
      font-weight: 300;
      color: #bdbdbd;
    }

    &_home-text {
      font-weight: bold;
      color: #333333;
    }

    &_arrows {
      display: flex;
      align-items: center;
      margin-bottom: 90px;

      @include small-laptop {
        justify-content: center;
        margin-bottom: 3.125em;
      }

      .arrow {
        width: 53px;
        height: 53px;
        background: $white-color;
        border: 1px solid #f2f2f2;
        cursor: pointer;
      }

      .arrow:hover,
      .arrow:focus {
        background: $btn-hover-color;
      }
    }

    &_right-arrow {
      margin-left: 23px;
    }

    &_line {
      width: 271px;
      height: 1px;
      background-color: #f2f2f2;
      position: relative;

      @include small-laptop {
        display: none;
      }
    }

    &_date {
      display: flex;

      @include small-laptop {
        justify-content: center;
        margin-bottom: 3.125em;
      }

      .numbers {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: #bdbdbd;
      }
    }

    &_delimiter {
      width: 44px;
      height: 2px;
      background-color: #e0e0e0;
      transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 10);
      margin: 0 32px 0 26px;
    }
  }

  &__photo-group {
    position: relative;
    width: 770px;
    height: 829px;
    min-width: 15.5em;

    @include nearly-laptop {
      width: 34.375em;
      height: auto;
    }

    @include small-laptop {
      width: 78%;
    }

    @include tiny {
      width: 100%;
    }

    &_photo {
      width: 100%;
      height: 100%;
    }

    &_btn {
      @include btn;
      position: absolute;
      left: 0px;
      bottom: 0px;
    }

    &_btn:hover {
      background: $btn-hover-color;
    }

    &_btn-text {
      @include btn-text;
    }
  }

  &__about-container {
    height: 435px;
    background-color: #fbfbfb;
    margin: 0 auto 150px;
    display: flex;
    justify-content: space-between;
    padding: 1.875em 4.375em 0 6.25em;

    @include nearly-laptop {
      flex-direction: column;
      padding: 0;
      height: auto;
    }

    @include large-mobile {
      flex-direction: column-reverse;
    }
  }

  &__about-photoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;

    @include nearly-laptop {
      justify-content: center;
      margin-right: 0;
    }

    @include large-mobile {
      flex-direction: column;
    }

    @include large-tiny {
      width: 100%;
    }

    &_first-container {
      @include large-tiny {
        width: 100%;
      }
    }

    &_photo {
      display: block;

      @include large-mobile {
        padding: 10px 0;
      }
    }

    .photo-one {
      width: 270px;
      height: 265px;
      margin-top: 30px;

      @include large-tiny {
        width: 100%;
        height: auto;
      }
    }

    .photo-two {
      width: 270px;
      height: 140px;
      margin-top: 30px;

      @include large-mobile {
        margin-top: 0;
      }

      @include large-tiny {
        width: 100%;
        height: auto;
      }
    }

    .photo-three {
      width: 270px;
      height: 345px;
      margin-left: 30px;

      @include large-mobile {
        margin-left: 0;
      }

      @include large-tiny {
        width: 100%;
        height: auto;
      }
    }
  }

  &__about-text {
    @include nearly-laptop {
      padding: 0 1em;
    }

    &_header {
      margin-bottom: 20px;

      @include nearly-laptop {
        margin-top: 0.78125em;
      }
    }

    &_main-text {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 25px;
      color: #000000;
      margin-bottom: 20px;

      @include nearly-laptop {
        text-align: center;
      }

      @include small-laptop {
        padding: 0 5px;
      }
    }

    &_btn {
      @include btn;
      transition: border 1s, border-color 0s;

      @include nearly-laptop {
        margin: 0 auto;
      }

      @include large-tiny {
        width: 100%;
      }
    }

    &_btn:hover {
      background: $btn-hover-color;
      border: 8px solid $white-color;
    }

    &_btn-text {
      @include btn-text;
    }
  }

  &__tasks-container {
    margin-bottom: 122px;
    overflow-x: hidden;
  }

  &__tasks {
    display: flex;
    justify-content: space-between;

    @include nearly-laptop {
      flex-direction: column;
    }

    &_first-column {
      display: flex;
    }

    .columns {
      @include small-laptop {
        padding: 0 20px;
      }

      @include mobile {
        padding: 0;
      }

      @include small-mobile {
        margin-top: 1.875em;
      }
    }

    .numbers {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 900;
      font-size: 12.5em;
      line-height: 1.195em;
      display: flex;
      align-items: center;
      color: #f2f2f2;

      @include nearly-laptop {
        width: 0.605em;
      }

      @include small-mobile {
        font-size: 7.5em;
      }
    }

    .texts {
      font-style: normal;
      font-weight: 400;
      font-size: 1.375em;
      line-height: 1.6363636363636365em;
      color: #333333;
      margin: 2.0454545454545454em 0 0 1.3636363636363635em;

      @include nearly-laptop {
        width: 100%;
        align-self: center;
        margin: 0 0 0 1.5em;
      }

      @include small-mobile {
        font-size: 1em;
        margin: 0 0 0 0.5em;
      }
    }

    &_text-one {
      width: 380px;
    }

    &_second-column {
      display: flex;
    }

    &_text-two {
      width: 510px;
    }
  }

  &__projects-container {
    margin-bottom: 120px;

    .imgs-wrapper {
      height: 255px;

      @include small-laptop {
        flex-direction: column;
        align-items: center;
        height: auto;
      }
    }

    .figures {
      position: relative;

      @include small-laptop {
        width: 70%;
        margin-bottom: 1.875em;
      }
    }

    .projects-imgs {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
      cursor: pointer;
    }

    .hidden-wrappers {
      position: absolute;
      top: 0;
      background-color: #333333;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .hidden-wrappers:hover {
      opacity: 0.8;
    }

    .hidden-content-wrappers {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .hidden-btns {
      @include btn;
      width: 133px;
      height: 12px;
      background-color: transparent;

      @include mobile {
        padding: 0;
        justify-content: flex-start;
      }
    }

    .hidden-btns-text {
      @include btn-text;
      font-family: "Gothic A1", sans-serif;
    }

    .hidden-btns-text,
    .hidden-btns-arrow {
      color: $white-color;
    }

    .factory-header {
      font-size: 42px;
    }

    .big-house-header {
      font-size: 47px;
    }

    .factory-header,
    .big-house-header {
      @include small-laptop {
        font-size: 3em;
      }

      @include mobile {
        font-size: 1em;
      }
    }
  }

  &__main-projects-header {
    margin-bottom: 60px;
  }

  &__projects-first-row {
    display: flex;
    margin-bottom: $imgs-indent;

    @include small-laptop {
      margin-bottom: 0;
    }

    &_centre-img-wrapper,
    &_theatre-img-wrapper {
      flex-grow: 1;
    }

    &_theatre-img-wrapper {
      margin-left: $imgs-indent;

      @include small-laptop {
        margin-left: 0;
      }
    }
  }

  &__projects-second-row {
    display: flex;
    margin-bottom: $imgs-indent;

    @include small-laptop {
      margin-bottom: 0;
    }

    &_factory-img-wrapper,
    &_big-house-img-wrapper {
      margin-right: $imgs-indent;

      @include small-laptop {
        margin-right: 0;
      }
    }

    &_factory-img-wrapper {
      flex-grow: 1;
    }

    &_big-house-img-wrapper {
      flex-grow: 3;
    }

    &_roof-img-wrapper {
      flex-grow: 2;
    }
  }

  &__projects-third-row {
    display: flex;
    justify-content: flex-end;

    @include small-laptop {
      justify-content: center;
    }
  }

  &__projects-btn {
    @include btn;
    background-color: #333333;
    border: 2px solid transparent;

    @include small-laptop {
      width: 70%;
    }

    &_btn-text {
      @include btn-text;
    }

    &_btn-text,
    &_btn-arrow {
      color: $white-color;
      transition: color 0.5s;
    }
  }

  &__projects-btn:hover {
    background-color: $white-color;
    border-color: #333333;
  }

  &__projects-btn:hover .page-main__projects-btn_btn-text {
    color: #333333;
  }

  &__projects-btn:hover .page-main__projects-btn_btn-arrow {
    color: #333333;
  }

  &__contact-us-container {
    margin-bottom: 120px;
  }

  &__contact-us-header {
    margin-bottom: 22px;
  }

  &__contact-us-form-img-wrapper {
    display: flex;
    overflow-x: hidden;

    @include nearly-laptop {
      flex-direction: column-reverse;
    }
  }

  &__contact-us-form {
    display: flex;
    flex-direction: column;
    margin-right: 1.875em;
    width: 391px;

    @include nearly-laptop {
      margin-right: 0;
      width: auto;
    }

    @include small-laptop {
      width: 70%;
      align-self: center;
    }

    &_textarea {
      height: 147px;
      margin-bottom: 22px;
      padding-top: 14px;
      resize: none;
    }

    &_textarea::placeholder {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.04em;
      color: #8d8d8d;
      font-family: "TT Hoves";
    }

    &_label {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: #333333;
      margin-left: 40px;
      margin-bottom: 21px;

      @include mobile {
        margin-left: 0;
      }
    }

    &_btn {
      @include btn;
      background-color: #333333;

      @include small-laptop {
        width: 100%;
      }
    }

    &_btn-text {
      @include btn-text;
    }

    &_btn-text,
    &_btn-arrow {
      color: $white-color;
    }
  }

  &__contact-us-form input,
  textarea {
    background: #f3f3f3;
    outline: none;
    border: none;
    padding-left: 21px;
  }

  &__contact-us-form input {
    height: 46px;
    margin-bottom: 10px;
  }

  &__contact-us-form input.page-main__contact-us-form_product {
    @include small-mobile {
      height: 60px;
      padding-bottom: 10px;
    }
  }

  &__contact-us-form input::placeholder {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #8d8d8d;
    white-space: pre-wrap;
  }

  &__contact-us-img-wrapper {
    height: 369px;
    flex-grow: 1;

    @include nearly-laptop {
      height: auto;
      margin-bottom: 1.875em;
      padding: 0 10px;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__contact-us-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
}
